.page-title {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;

  &::before,
  &::after {
    content: "";
    width: 50px;
    height: 3px;
    background: #c8bca0;
  }

  &::before {
    margin: 0 20px 0 0;
  }

  &::after {
    margin: 0 0 0 20px;
  }
}
